<div>
  Olá {{delivery_man}}, devido a gravidade do problema, cancelamos a entrega do produto abaixo:
  <p>
    Produto: <strong>{{product}}</strong>
  </p>
  <p>
    Problema: <strong>{{problem}}</strong>
  </p>
  <p>
    Destinatário: <strong>{{name}}</strong>
  </p>
<p>
  Endereço para entrega: <strong>
      {{address}}
    </strong>
</p>

</div>
